@model Digitala_FiskGuiden.Models.Klass

@{
    ViewData["Title"] = "Details";
}

<h1>Detaljer</h1>

<div>
    <h4>Klass</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FiskKlass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FiskKlass)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.KlassId">Ändra</a> |
    <a asp-action="Index">Gå tillbaka</a>
</div>
